{% extends 'base/website_base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}

<!-- Hero Section -->

<section class="hero">

    <div class="hero-content">

        <h1>
            Welcome 
           
        </h1>

        <p>
            
            <br>
            Smart Education • Better Future
        </p>

    </div>

</section>


<!-- About Section -->

<section class="about-section">

    <div class="container">

        <h2>
            About Our College
        </h2>

        <p>

            Shri Gulabrao Deokar College of Polytechnic is committed to
            providing quality technical education with experienced faculty,
            modern laboratories, digital classrooms, and excellent placement
            opportunities.

        </p>

    </div>

</section>


<!-- Statistics -->

<section class="stats">

    <div class="card">

        <h2>5000+</h2>

        <p>Students</p>

    </div>

    <div class="card">

        <h2>150+</h2>

        <p>Faculty</p>

    </div>

    <div class="card">

        <h2>20+</h2>

        <p>Departments</p>

    </div>

    <div class="card">

        <h2>98%</h2>

        <p>Placement</p>

    </div>

</section>


<!-- Features -->

<section class="features">

    <h2>

        Why Choose Us?

    </h2>

    <div class="feature-box">

        <div class="feature">

            <h3>Experienced Faculty</h3>

            <p>
                Highly qualified teachers with industry experience.
            </p>

        </div>

        <div class="feature">

            <h3>Modern Laboratories</h3>

            <p>
                Well-equipped computer and engineering laboratories.
            </p>

        </div>

        <div class="feature">

            <h3>Digital Library</h3>

            <p>
                Thousands of books and online learning resources.
            </p>

        </div>

        <div class="feature">

            <h3>Placement Support</h3>

            <p>
                Excellent campus placement opportunities.
            </p>

        </div>

    </div>

</section>

{% endblock %}