/* ===========================
        CUSTOM CURSOR
=========================== */

*{
    cursor:default;
}

a,
button,
input,
select,
textarea,
label,
.card,
.feature,
.login-btn,
.hero-btn{

    cursor:pointer;

}

/* Optional Hover Cursor Color Effect */

a:hover,
button:hover{

    filter:brightness(1.1);

}
.welcome-title{
    text-align: center;
    width: 100%;
    font-size: 42px;
    font-weight: 700;
    color: #ffffff;   /* Apni pasand ka color */
    margin-bottom: 15px;
}