{% extends 'base/base.html' %}

{% block title %}

Add Fee

{% endblock %}

{% block content %}

<div class="student-page">

    <div class="form-card">

        <h1>

            Add Fee Record

        </h1>

        <p>

            Enter Fee Details

        </p>

        <form method="POST">

            {% csrf_token %}

            <div class="form-fields">

                {{ form.as_p }}

            </div>

            <button type="submit" class="save-btn">

                Save Fee

            </button>

        </form>

        <br>

        <a href="{% url 'fee_list' %}" class="back-btn">

            ← Back To Fee List

        </a>

    </div>

</div>

{% endblock %}