{% extends 'base/base.html' %}

{% block title %}
Attendance
{% endblock %}

{% block content %}

<div class="student-page">

    <div class="student-header">

        <h1>Attendance List</h1>

        {% if request.user.userprofile.role != "Student" %}

        <a href="{% url 'add_attendance' %}" class="add-student-btn">
            + Mark Attendance
        </a>

        {% endif %}

    </div>


    {% if request.user.userprofile.role != "Student" %}

    <form method="GET" class="search-form">

        <input
            type="text"
            name="search"
            value="{{ search }}"
            placeholder="Search Student..."
            class="search-box"
        >

        <button type="submit" class="search-btn">
            Search
        </button>

    </form>

    {% endif %}


    <div class="table-card">

        <table class="student-table">

            <thead>

                <tr>

                    <th>Student</th>

                    <th>Date</th>

                    <th>Status</th>

                    <th>Remarks</th>

                    {% if request.user.userprofile.role != "Student" %}
                    <th>Action</th>
                    {% endif %}

                </tr>

            </thead>


            <tbody>

            {% for item in attendance %}

                <tr>

                    <td>
                        {{ item.student.first_name }}
                        {{ item.student.last_name }}
                    </td>

                    <td>
                        {{ item.attendance_date }}
                    </td>

                    <td>
                        {{ item.status }}
                    </td>

                    <td>
                        {{ item.remarks|default:"-" }}
                    </td>


                    {% if request.user.userprofile.role != "Student" %}

                    <td>

                        <a
                            href="{% url 'edit_attendance' item.id %}"
                            class="edit-btn"
                        >
                            Edit
                        </a>

                        |

                        <a
                            href="{% url 'delete_attendance' item.id %}"
                            class="delete-btn"
                            onclick="return confirm('Are you sure you want to delete this attendance?');"
                        >
                            Delete
                        </a>

                    </td>

                    {% endif %}

                </tr>


            {% empty %}

                <tr>

                    {% if request.user.userprofile.role != "Student" %}

                    <td
                        colspan="5"
                        style="text-align:center;"
                    >
                        No Attendance Found
                    </td>

                    {% else %}

                    <td
                        colspan="4"
                        style="text-align:center;"
                    >
                        No Attendance Found
                    </td>

                    {% endif %}

                </tr>

            {% endfor %}

            </tbody>

        </table>

    </div>


    <!-- =================================================
                         PAGINATION
    ================================================= -->

    {% if page_obj.has_other_pages %}

    <br>

    <div class="pagination">

        {% if page_obj.has_previous %}

            <a href="?page=1&search={{ search }}">
                First
            </a>

            <a href="?page={{ page_obj.previous_page_number }}&search={{ search }}">
                Previous
            </a>

        {% endif %}


        <span>
            Page {{ page_obj.number }}
            of
            {{ page_obj.paginator.num_pages }}
        </span>


        {% if page_obj.has_next %}

            <a href="?page={{ page_obj.next_page_number }}&search={{ search }}">
                Next
            </a>

            <a href="?page={{ page_obj.paginator.num_pages }}&search={{ search }}">
                Last
            </a>

        {% endif %}

    </div>

    {% endif %}

</div>

{% endblock %}