{% extends 'base/base.html' %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}

<!-- =====================================================
                    WELCOME
===================================================== -->

<section class="dashboard-hero">

    <div class="blob blob1"></div>
    <div class="blob blob2"></div>
    <div class="blob blob3"></div>

    <div class="dashboard-content">

        <h1 class="welcome-title">
            Welcome Back
        </h1>

    </div>

</section>


<h1 class="dashboard-title">
    Welcome {{ username }}
</h1>


<!-- =====================================================
                    PRINCIPAL
===================================================== -->

{% if role == "Principal" %}

<div class="cards">

    <div class="card">
        <h2>Total Students</h2>
        <p>{{ total_students }}</p>
    </div>

    <div class="card">
        <h2>Total Faculty</h2>
        <p>{{ total_faculty }}</p>
    </div>

    <div class="card">
        <h2>Total Courses</h2>
        <p>{{ total_courses }}</p>
    </div>

    <div class="card">
        <h2>Total Departments</h2>
        <p>{{ total_departments }}</p>
    </div>

    <div class="card">
        <h2>Total Attendance</h2>
        <p>{{ total_attendance }}</p>
    </div>

    <div class="card">
        <h2>Total Fee Records</h2>
        <p>{{ total_fees }}</p>
    </div>

    <div class="card">
        <h2>Total Books</h2>
        <p>{{ total_books }}</p>
    </div>

    <div class="card">
        <h2>Total Notices</h2>
        <p>{{ total_notices }}</p>
    </div>

</div>





<!-- =====================================================
                    STUDENT
===================================================== -->

{% elif role == "Student" %}

<div class="cards">

    <div class="card">
        <h2>Present</h2>
        <p>{{ present_count }}</p>
    </div>

    <div class="card">
        <h2>Absent</h2>
        <p>{{ absent_count }}</p>
    </div>

    <div class="card">
        <h2>Leave</h2>
        <p>{{ leave_count }}</p>
    </div>

    <div class="card">
        <h2>Total Attendance</h2>
        <p>{{ attendance_count }}</p>
    </div>

</div>


